<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.505.0, Culture=neutral" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.505.0, Culture=neutral" requirePermission="true" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.505.0, Culture=neutral" requirePermission="true" />
    <section name="domain.config" type="Consolsys.Base.Configurations.DomainConfiguration, Consolsys.Base" requirePermission="false" />
    <section name="dbpollers.config" type="Consolsys.Base.Configurations.DbPollerConfiguration, Consolsys.Base" requirePermission="false" />
    <section name="general.pollers.config" type="Consolsys.Base.Configurations.GeneralPollerConfiguration, Consolsys.Base" requirePermission="false" />
    <section name="HKExpirationDate.config" type="Consolsys.Base.Configurations.HKExpirationDateConfiguration, Consolsys.Base" requirePermission="false" />
    <section name="LogMaskConfiguration" type="Consolsys.Base.Configurations.LogMasking.LogMaskConfiguration, Consolsys.Base" requirePermission="false" />
    <section name="modulecatalog" type="Consolsys.CB.Host.Transactions.HostConfiguration.ModuleCatalog, Consolsys.CB.Host.Transactions" requirePermission="false" />
    <section name="moduleDb" type="Consolsys.CB.Host.Transactions.HostConfiguration.ModuleDBConfigSection, Consolsys.CB.Host.Transactions" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MessagingConfig" type="Consolsys.Infra.Messaging.Configuration.MessagingConfigSection, Consolsys.Infra.Messaging" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.18.3, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="PerformanceCounters" value="4095" />
      </settings>
    </version>
  </oracle.manageddataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <MessagingConfig>
    <clients>
      <client name="IOLogMqClient" host="localhost" username="TraceUser" password="Password1" exchangeName="DefaultExchange" queueName="IOLogs" enabled="true" />
      <client name="TraceLogMqClient" host="localhost" username="TraceUser" password="Password1" exchangeName="TraceExchange" queueName="TraceLogs" enabled="true" clientThreads="5" />
    </clients>
  </MessagingConfig>
  <appSettings>
    <add key="EODWebApiBaseAddress" value="http://mvcbwebappuat.mesalainc.local:1030" />
    <!--<add key="ActionWebApiBaseAddress" value="http://mvcbwebappuat.mesalainc.local:1020" />-->
    <add key="InterfaceFilesPath" value="C:\InterfaceFiles" />
    <add key="InterfaceFilesPathGL" value="C:\InterfaceFiles" />
    <add key="InterfaceFilesDataLoadChunk" value="300000" />
    <add key="BaseModelRepositoryBaseAddress" value="https://mvcbwebappuat.mesalainc.local/Base" />
    <add key="PerfCounterEnabled" value="true" />
    <add key="JsonProductFolderPath" value="ProductJson" />
    <add key="HostLogLevel" value="Warn" />
    <add key="EnableSwagger" value="true" />
    <add key="StimulSoftLicense" value="6vJhGtLLLz2GNviWmUTrhSqnOItdDwjBylQzQcAOiHkpHTaNmKuYgJxzAGTDW1PyjU2c3/LbDN7GC4ztley5pDnuB76qvuGSTpzyp7Es+1CK/U+IPbT34zvME7fJEVTn8J8ib/U/FCr+0iYTr12vfnZVrCzbIcdfGmbi8tT6kfm7f6fVNTUGG/Sj+hi2ntpOgapaJL3lg/s6Rzk6rLdgaKdeG4eKTWeq+aXnnakDAYgMsjYXbg2VKdkX40SwNZeYu5WxgGWRU48UeNcWZ35T1y6C9Z8ZSSVHEjDBbmQcxNW9r0AOCbU94ayrb0SyX87wmlUlnGxRWEYJkPM33+t8yOhOsiNhjVsDhA1XMyLGkWvCX7aSAJZGhU8c2z+2Gpw+N50A1PSCy2iFq0tIm9lzhcz8Tasaix6coIlfeayefCYLZ9MyY6e8z2vwEY6t11rv2RWfj+wTOi4gC3Wf/OlCJloliARhO06EeJgcr/r7ZVWFB+oH9cJ8f2iKiNWQEZ5fv+UnUwfBoCOFwcfVk6z8J3DqyuMoKygBJ0LfMq22jf+ZnTI3oiOxAcHieIFL2BbjJlwb0zKZMUfsXcfI7Qjhkw==" />
    <add key="UserId" value="620TLRCBS1" />
    <add key="SequenceNo" value="7353000" />
    <add key="threadCount" value="25" />
    <add key="BranchCode" value="620" />
    <add key="KeepJournalIO" value="False" />
    <add key="OpenAccountPerThread" value="70000" />
    <add key="InitializeBillRemitManagers" value="False" />
    <add key="SystemPostUserName" value="BRCSYS" />
    <add key="SystemPostBranchCode" value="999" />
    <add key="MaxConcurrentRequests" value="500" />
	<add key="EODParallelCount" value="50" />
    <add key="EODMiniBatchSize" value="50" />
    <add key="InitializeDepositManagers" value="true" />
    <add key="CIF.DBName" value="CBDB_CIF" />
    <add key="CIF.SchemaName" value="CBDB_CIF_ADMIN" />
    <add key="Loans.DBName" value="CBDB_LOANS" />
    <add key="Loans.SchemaName" value="CBDB_LOANS_ADMIN" />
    <add key="BillRemit.DBName" value="CBDB_BILL_REMIT" />
    <add key="BillRemit.SchemaName" value="CBDB_BILL_REMIT_ADMIN" />
    <add key="Core.DBName" value="CBDB_COMMON" />
    <add key="Core.SchemaName" value="CBDB_COMMON_ADMIN" />
    <add key="Collection.DBName" value="CBDB_COLLECTION" />
    <add key="Collection.SchemaName" value="CBDB_COLLECTION_ADMIN" />
    <add key="Deposit.DBName" value="CBDB_DEPOSIT" />
    <add key="Deposit.SchemaName" value="CBDB_DEPOSIT_ADMIN" />
    <add key="Investment.DBName" value="CBDB_INVESTMENT" />
    <add key="Investment.SchemaName" value="CBDB_INVESTMENT_ADMIN" />
	<add key="InterfaceFilesGLMaxNumberOfItemsInFile" value="99999999"/>
	<add key="SkipDailyReportsOnWeekendAndPublicHolidays" value="false" />
  </appSettings>
  <cachingConfiguration defaultCacheManager="DefaultCacheManager">
    <cacheManagers>
      <add name="DefaultCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
      <add name="TransactionCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
      <add name="NewAccountsCacheManager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="inMemory" />
    </backingStores>
  </cachingConfiguration>
  <connectionStrings>
    <add name="AuthDB" connectionString="server=mvcbdbuat;database=Consolsys.Auth;Integrated Security=false;User ID=sa;Password=Password1;" providerName="System.Data.SqlClient" />
    <add name="Stage.ConnectionString.Sql" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_STAGE;User Id = sa;Password = Password1;" providerName="System.Data.SqlClient" />
    <add name="Reports.ConnectionString.Sql" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_REPORTS;User Id = sa;Password = Password1;" providerName="System.Data.SqlClient" />
    <add name="Loans.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_LOANS;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;Connect Timeout=3600;" providerName="System.Data.SqlClient" />
    <add name="Core.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_COMMON;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="CIF.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_CIF;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="Collection.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_COLLECTION;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="BillRemit.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_BILL_REMIT;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="Deposit.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_DEPOSIT;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="Journal.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_JOURNAL;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="EOD.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_EOD;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="Investment.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_INVESTMENT;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
    <add name="Collateral.ConnectionString.SqlServer" connectionString="Data Source=mvcbdbuat;Initial Catalog=CBDB_COLLATERAL;User Id=CBS_ADMIN;Password=Password1;MultipleActiveResultSets=True;enlist=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <modulecatalog>
    <modules>
      <add name="Base" code="BS" bootstrapassembly="Consolsys.CB.Modules.Core.SqlServer" domainentityassembly="Consolsys.CB.Modules.Core.Entities">
        <libraries>
          <add name="CoreBase" assembly="Consolsys.CB.Modules.Core" />
          <add name="Transactions" assembly="Consolsys.CB.Host.Transactions" />
          <add name="WebApiBusiness" assembly="Consolsys.CB.Host.WebApi" />
          <add name="Security" assembly="Consolsys.CB.Host.Security" />
          <add name="Expressions" assembly="Consolsys.CB.Host.Expressions" />
        </libraries>
      </add>
      <add name="CIF" code="CIF" bootstrapassembly="Consolsys.CB.Modules.CIF.SqlServer" domainentityassembly="Consolsys.CB.Modules.CIF.Entities">
        <libraries>
          <add name="CIFBase" assembly="Consolsys.CB.Modules.CIF" />
          <add name="Messages" assembly="Consolsys.CB.Modules.CIF.Messages" />
        </libraries>
      </add>
      <add name="Loans" code="LON" bootstrapassembly="Consolsys.CB.Modules.Loans.SqlServer" domainentityassembly="Consolsys.CB.Modules.Loans.Entities">
        <libraries>
          <add name="LoansBase" assembly="Consolsys.CB.Modules.Loans" />
          <add name="Messages" assembly="Consolsys.CB.Modules.Loans.Messages" />
        </libraries>
      </add>
      <add name="Deposit" code="DEP" bootstrapassembly="Consolsys.CB.Modules.Deposit.SqlServer" domainentityassembly="Consolsys.CB.Modules.Deposit.Entities">
        <libraries>
          <add name="DepositBase" assembly="Consolsys.CB.Modules.Deposit" />
          <add name="Messages" assembly="Consolsys.CB.Modules.Deposit.Messages" />
        </libraries>
      </add>
      <add name="Investment" code="INV" bootstrapassembly="Consolsys.CB.Modules.Investment.SqlServer" domainentityassembly="Consolsys.CB.Modules.Investment.Entities">
        <libraries>
          <add name="InvestmentBase" assembly="Consolsys.CB.Modules.Investment" />
          <add name="Messages" assembly="Consolsys.CB.Modules.Investment.Messages" />
        </libraries>
      </add>
      <add name="Collateral" code="CLT" bootstrapassembly="Consolsys.CB.Modules.Collateral.SqlServer" domainentityassembly="Consolsys.CB.Modules.Collateral.Entities">
        <libraries>
          <add name="CollateralBase" assembly="Consolsys.CB.Modules.Collateral" />
          <add name="Messages" assembly="Consolsys.CB.Modules.Collateral.Messages" />
        </libraries>
      </add>
      <add name="EndOfDay" code="EOD" bootstrapassembly="Consolsys.CB.Modules.EOD" domainentityassembly="Consolsys.CB.Modules.EOD.Entities">
        <libraries>
          <add name="WebApi" assembly="Consolsys.CB.Modules.EOD.WebApi" />
          <add name="Messages" assembly="Consolsys.CB.Modules.EOD.Messages" />
        </libraries>
      </add>
    </modules>
  </modulecatalog>
  <moduleDb>
    <modules>
      <add name="CIF" code="CIF" database="CBDB_CIF" schema="CBDB_CIF_ADMIN" />
      <add name="Collateral" code="CLT" database="CBDB_COLLATERAL" schema="CBDB_COLLATERAL_ADMIN" />
      <add name="Core" code="COR" database="CBDB_COMMON" schema="CBDB_COMMON_ADMIN" />
      <add name="Deposit" code="DEP" database="CBDB_DEPOSIT" schema="CBDB_DEPOSIT_ADMIN" />
      <add name="Investment" code="INV" database="CBDB_INVESTMENT" schema="CBDB_INVESTMENT_ADMIN" />
      <add name="Loans" code="LON" database="CBDB_LOANS" schema="CBDB_LOANS_ADMIN" />
    </modules>
  </moduleDb>
  <log4net>
    <logger name="CBSTraceLogger">
      <level value="Debug" />
      <appender-ref ref="CBSTrace" />
    </logger>
    <logger name="ConcurrentRequestLogger">
      <level value="Debug" />
      <appender-ref ref="ConcurrentRequest" />
    </logger>
    <appender name="CBSTrace" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\Consolsys.CB.Host.HostConsole.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss.ffff}  [%thread]  %m%n" />
      </layout>
    </appender>
    <appender name="ConcurrentRequest" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\Requests.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss.ffff}  [%thread]  %m%n" />
      </layout>
    </appender>
  </log4net>
  <LogMaskConfiguration IsEnabled="False">
    <Plugins>
    </Plugins>
  </LogMaskConfiguration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Caching" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1304.0" newVersion="6.0.1304.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.1003" newVersion="2.1.0.1003" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Interception" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.2.0" newVersion="5.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
    <machineKey validationKey="1623833187C040ED408A9B9052526DFB8F0C888A406BB2F8D03A2AFBBE6AD63B508572534F38E441ED2C4341D0CD3FFBD7D26CE97C41A54C5256D2AA74A2F2A1" decryptionKey="B8189A5A102E2ED1724155EF3BA3FF34C9BE58E10971E78E441F0A5BCB8FA356" validation="SHA1" decryption="AES" />
  </system.web>
</configuration>